{{ range .Site.Menus.main.ByWeight }}
    <li class="site-nav-item">
        <a href="{{ .URL }}">{{ .Name }}</a>
    </li>
{{ end }}

{{ if .IsTranslated }}
    {{ range .Translations }}
        <li class="site-nav-item">
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        </li>
	{{ end}}
{{ end }}